.grid-container {
  position: relative;
  display: flex;
  align-items: center;
}

@keyframes load {
  0% {
    flex-basis: 0%;
  }

  100% {
    flex-basis: 100%;
  }
}

.grid {
  flex-basis: 100%;
  display: grid;
  position: relative;
  // grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: grabbing;
  }

  & .box {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid lightblue;
    // border-radius: 5px;
    user-select: none;

    &:hover {
      border: 1px solid blue;
    }
  }
}
